replicaCount: 1

image:
  # Updated to point to your Azure Container Registry
  repository: myreg2026.azurecr.io/flask-docker-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

serviceAccount:
  create: false
  name: ""

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
