apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flask-app.fullname" . }}
  labels:
    {{- include "flask-app.labels" . | nindent 4 }}
spec:
  {{- $img := .Values.image | default dict }}
  replicas: {{ default 1 .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/name: {{ include "flask-app.fullname" . }}
  template:
    metadata:
      labels:
        {{- include "flask-app.labels" . | nindent 8 }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "flask-app.serviceAccountName" . }}
      containers:
        - name: flask
          image: "{{ $img.repository | default "bharathchatakondu/flask-docker-app" }}:{{ $img.tag | default "latest" }}"
          imagePullPolicy: {{ $img.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 5000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
