name: Helm Lint and Deploy

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Helm
        uses: azure/setup-helm@v3
      - name: Lint chart
        run: helm lint charts/flask-app

deploy:
    needs: lint
    runs-on: ubuntu-latest
    if: secrets.KUBECONFIG != ''
     #if: ${{ secrets.KUBECONFIG != '' }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Helm
        uses: azure/setup-helm@v3
      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
      - name: Deploy with Helm
        run: |
          helm upgrade --install my-flask charts/flask-app
